<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.site.title }}</title>
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="description" content="{{ site.site.description }}">

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href='/css/fontface.css' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="container">

    <header class="row main-header">
    <div class="navbar-left">
        <nav>
        <ul class="nav nav-pills">
            <li class=""><a href="/">{{ site.site.title }}</a></li>
        </ul>
        </nav>
    </div>

    <div class="navbar-right">
        <nav>
        <ul class="nav nav-pills pull-right">
            <li class=""><a href="/archives.html">Archives</a></li>
            <li class=""><a href="/links.html">Links</a></li>
            <li class=""><a href="/about.html">About</a></li>
        </ul>
        </nav>
    </div>
    </header>

    <div class="content">
    {{ content }}
    </div>

    <hr>
    <footer align="center">
     <a href="https://twitter.com/{{ site.author.twitter }}">twitter</a> /
     <a href="https://github.com/{{ site.author.github }}">github</a> /
     <a href="{{ site.site.feedburner }}">rss</a> /
     <a href="mailto:{{ site.author.email }}">email</a>
     <br>
     &copy; Creative Commons
    </footer>
</div> <! -- /container -->

{% include analytics %}

</body>
</html>
